<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>{{subject}}</title>

	<style> 
		body {
			background: #FAFBFC;
		}
		p {
			font-size:16px
		}
		.footer {
			margin-top: 8rem;
			color: #78849E;
			font-size: 13px;
		}
		a {
			color: #21B9E4 !important;
		}
		.inner-div h2 {
			color: #21B9E4;
		}
		.inner-div .inner-text {
			color: #2A2E43;
		}
		.inner-div {
			max-width: 700px;
			margin: auto;
			width: 100%;
			padding: 0 80px;
			border-radius: 13px;
		}
	</style>
  </head>
  <body>
    <div class="container"> 
        <div class="main-div text-center my-5"> 
            <div class="logo py-4"> 
                <img src="../../public/images/TAG-Logo.png" alt="TAG-Logo">
            </div>
            <div class="inner-div bg-white py-5"> 
                <h2> {{subject}} </h2>
				{% if link %}
                <p class="inner-text "> 
                    {{staff_user}} from {{staff_company}} is requesting an electronic signature for you contract agreement.
                </p>
				{{link}}
				{% else %}
				<p class="inner-text">
					Congratulations! A Hiring contract has been signed on <strong>{{date}}</strong> for <strong>{{staff_company}}</strong>
				</p>
				{% endif %}
                <p class="footer"> 
                    © 2022 TAG | All rights reserved
                </p>
            </div>
        </div>
    </div>
  </body>
</html>
