{% if onboard %}
	<html>
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
			<title>Hello</title>
			<style>
				body {
					background: #FAFBFC;
				}
				p {
					font-size:20px
				}
				.footer {
					margin-top: 8rem;
				}
				.btn-primary {
					background: #7B68EE !important;
				}
				a {
					color: #21B9E4 !important;
				}
			</style>
		</head>
		<body>
			<div class="container"> 
				<div class="main-div text-center"> 
					<div class="logo py-4 my-4"> 
						<img src="TAG-Logo-Emblem.svg" alt="logo-img">
					</div>
					<div class="inner-div bg-white py-5"> 
						<h2> {{company}} invited you to </h2>
						<h2> create a "New Order" on <a> <u> Tagguru.com </u> </a> </h2>
						<p class="text-secondary py-4">Tag makes it easy  to find temps from multiple agencies in one place</p>
						<button type="button" class="btn btn-primary btn-lg px-5 py-3 mt-5 mb-5">Accept Invitation</button>
						<h5 class="mt-5">Your Login Email:</h5>
						<h5><a>{{email}}</a></h5>
						<p class="footer"><a> <u> Unsubscribe </u> </a>from any communication about this invite</p>
					</div>
				</div>
			</div>
			<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		</body>
	</html>
{% else %}
	<p>{{_("Hello")}} {{ first_name }}{% if last_name %} {{ last_name}}{% endif %},</p>
	{% set site_link = "<a href='" + site_url + "'>" + site_url + "</a>" %}
	<p>{{_("A new account has been created for you at {0}").format(site_link)}}.</p>
	<p>{{_("Your login id is")}}: <b>{{ user }}</b></p>
	<p>{{_("Click on the link below to complete your registration and set a new password")}}.</p>
	<p style="margin: 15px 0px;"><a href="{{ link }}" rel="nofollow" class="btn btn-primary">{{ _("Complete Registration") }}</a></p>
	{% if created_by != "Administrator" %}
		<br><p style="margin-top: 15px">{{_("Thanks")}},<br>{{ created_by }}</p>
	{% endif %}
	<br>
	<p>{{_("You can also copy-paste following link in your browser")}}<br><a href="{{ link }}">{{ link }}</a></p>
{% endif %}
