<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<title>Invitation</title>
		<style>
			body {
				background: #FAFBFC;
			}

			p {
				font-size: 20px
			}

			.footer {
				margin-top: 8rem;
			}

			.btn-primary {
				background: #7B68EE !important;
			}

			a {
				color: #21B9E4 !important;
			}

			.inner-div h2 {
				color: #21B9E4;
			}

			.inner-div .inner-text {
				color: #2A2E43;
			}

			.inner-div {
				max-width: 700px;
				margin: auto;
				width: 100%;
				padding: 0 80px;
				border-radius: 13px;
			}
		</style>
	</head>

	<body>
		<div class="container">
			<div class="main-div text-center">
				<div class="logo py-4 my-4">
					<img src="../../public/images/TAG-Logo.png" alt="logo-img">
				</div>
				<div class="inner-div bg-white py-5">

					{% if onboard %}
					<h2> {{company}} invited you to </h2>
					<h2> create a "New Order" on <a> <u> taguru.com </u> </a> </h2>
					<p class="text-secondary py-4">TAG makes it easy to find temps from multiple agencies in one place</p>
					<a href="{{ link }}" rel="nofollow" class="btn btn-primary btn-lg px-5 py-3 mt-5 mb-5"><span style="color: white;">Accept Invitation</span></a>
					<h5 class="mt-5">Your Login Email:</h5>
					<h5><a>{{email}}</a></h5>
					<p class="footer"><a> <u> Unsubscribe </u> </a>from any communication about this invite</p>

					{% else %}
					<h2> Invitation </h2>
					<p class="inner-text mb-0 py-3">{{_("Hi")}} {{ first_name }}{% if last_name %} {{ last_name}}{% endif %}!</p>
					<p class="inner-text "> You have been invited to join your organization at TAG! To complete your user account set up at TAG, please click on the below link and set up your password.</p>
					<a href="{{ link }}" rel="nofollow" class="btn btn-primary btn-lg px-5 py-3 mt-5 mb-5"><span style="color: white;">Go To TAG</span></a>
					<p class="footer">
						© 2022 TAG | All rights reserved
					</p>
					{% endif %}
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>