body {
    font-size: 14px !important;
}

.web-footer {
	display: none;
}
.btn.btn-primary {
	background-color: #21B9E4 !important;
}
label {
	color: #2A2E43;
}
.for-login .page-card .page-card-body .forgot-password-message {
	text-align: -webkit-auto !important;
	position: relative;
}
input:hover { 
	border: 1px solid#21B9E4 !important;	
}
input:active { 
	border: 1px solid#21B9E4 !important;	
}
input:visited { 
	border: 1px solid#21B9E4 !important;	
}
.for-login .page-card-head h4 {
	font-weight: bold !important;
    font-size: 28px !important;
}
