body {
    font-size: 14px !important;
}

.web-footer {
	display: none;
}
.btn.btn-primary {
	background-color: #21B9E4 !important;
}
label {
	color: #2A2E43;
}
.for-login .page-card .page-card-body .forgot-password-message {
	text-align: -webkit-auto !important;
	position: relative;
}
input:hover { 
	border: 1px solid#21B9E4 !important;	
}
input:active { 
	border: 1px solid#21B9E4 !important;	
}
input:visited { 
	border: 1px solid#21B9E4 !important;	
}
.for-login .page-card-head h4 {
	font-weight: bold !important;
    font-size: 32px !important;
}
input::-webkit-credentials-auto-fill-button { 
	visibility: hidden;
	display: none !important;
	pointer-events: none;
	position: absolute;
	right: 0;
}
 .login-image {
	background: #E8F8FC;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.for-login, .for-forgot, .for-signup, .for-email-login {
    padding: 0 !important;
}
.for-login .page-card, .for-forgot .page-card, .for-signup .page-card, .for-email-login .page-card {
 max-width: inherit !important;
    border-radius: 0!important;
    box-shadow: none!important;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
	padding:0 !important;
}
.for-login .page-card form, .for-forgot .page-card form, .for-signup .page-card form, .for-email-login .page-card form {
    max-width: none;
    min-width: 342px;
}
.navbar-nav .nav-item {
	background: #E8F8FC;
    border-radius: 8px;
}
.navbar-light .navbar-nav .nav-link {
	padding: 15px 35px;
    color: #21B9E4 !important;
    font-size: 16px ;
}

.login-content .form-signin .btn-login {
	width: 163px !important;
	font-size: 14px;
}